<div class="card">
    <div class="card-header">
        <div style="padding-bottom: 5px;">
            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form> -->
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/adverts/0/edit']">Add Advert</button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" *ngIf="adverts && adverts.length">
                <thead>
                    <tr>
                        <th>Advert</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date listed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let advert of adverts">
                        <td>
                            <a>
                                {{ advert.header }}
                            </a>
                        </td>
                        <td>{{advert.description }}</td>
                        <td>{{ advert.price | currency:"R":"symbol":"1.2-2"}}</td>
                        <td>{{ advert.date }}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/adverts', advert.id, 'edit']">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>
