<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">Search Product:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" *ngIf="adverts && adverts.length">
                <thead>
                    <tr>
                        <th>Advert</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date listed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let advert of filteredAdverts">
                        <td>
                            <a>
                                {{ advert.header }}
                            </a>
                        </td>
                        <td>{{advert.description }}</td>
                        <td>{{ advert.price | currency:"R":"symbol":"1.2-2"}}</td>
                        <td>{{ advert.date }}</td>
                        <td>
                            <button *ngIf="authenticated" class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/adverts', advert.id]">
                                Buy
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>
